.aboutUs-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 440px;
    height: 330px;
    box-shadow: 1px 1px 10px 1px rgb(150, 150, 150);
    border-radius: 30px;
}


.aboutUs-wrapper > img{
    margin-top: 2rem;
    width: 5rem;
    height: 5rem;
}

.aboutUs-wrapper > h2{
    margin-top: 3rem;
    font-size: 2rem;
}

.aboutUs-wrapper > p{
    margin-bottom: 5rem;
    padding: 0 3.5rem;
    font-size: 1rem;
    color: #ABABAD;
}


