
.hero-items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 475px;
    border-radius: 40px;
    margin: 5rem 2rem;
}

.textAndButtons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    height: 350px;
    background-color: #fcfcfc;
    border-radius: 40px;
    box-shadow: 1px 1px 10px 1px rgb(150, 150, 150);
    padding: 1rem;
}

.circle-wrapper{    
    display: flex;
    justify-content: center;
}

.circle-img{
    width: 200px;
    height: 200px;
    border: .7rem solid #84B74E;
    border-radius: 50%;
    transform: translateY(2.5rem);
}

.texts{
    text-align: center;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
}

.buttons-price{
    background-color: white;
    font-weight: bold;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 50px;
    padding: 5px 15px;
}

.buttons-buy{
    background-color: #84B74E;
    font-weight: bold;
    font-size: 15px;
    border: none;
    color: white;
    border-radius: 50px;
    padding: 10px 20px;
}

.buttons-buy:hover{
    transform: scale(1.1);
    transition: .2s all;
}
